/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Ubuntu', sans-serif;*/
/*font-family: 'Inconsolata', monospace;*/
.body{
	margin: o;
	padding: o;
	font-family: 'Playfair Display', serif;
	colour:#626262;
}

/*header start*/
	.header{
	padding: 20px 0;
}

.container{
	width: 90%;
	margin: 0 auto;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.logo{
	width: 12;
	/*border: 1px solid red;*/
	float: left;
	margin-top: 10px;
}
.logo img{
	width: 100%;
}
.menu{
	width: 65%;
	/*border: 1px solid red;*/
    float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	size: 16px;
	font-width: 400;
	color: #626262;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	margin: 0 50px;
	border-bottom: 1px solid transparent;
	transition: .3s;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid #000000;

}
/*header end*/
/*banner start*/
.banner{}
.b_img{}
.b_img img{
	width: 100%;
}
-*/*banner end*/
/*getaway start*/
 .getaway{
 	padding: 70px 0;
 }
 .container2{
 	width: 80%;
 	margin: 0 auto;
 	/*border: 1px solid red;*/
 }
 .g_content{}
 .light{
 	font-family: 'Ubuntu', sans-serif;
 	font-size: 14px; 
 	font-weight: 300;
 	color:#b4ad9e;
 	text-transform: uppercase;
 }
 .c_title{
 	font-size: 30px;
 	font-weight: 400;
 	margin: 25px 0 30px;
 }

 .c_p{
 	line-height: 25px;
 	word-spacing: 1px;
 	margin-top: 0;
 	margin-bottom: 45px; 
}
/*getaway end*/
/*blog start*/
.blog{
	padding: 70px 0;
}
.b_containt{
	overflow: hidden;
}
.single{
	width: 47%;
	/*border: 1px solid black;*/
	float: left;
}
.single:nth-child(even){
	margin-left: 6%;
	/*margin-right: 1%;*/

}
.single img{
	width: 100%;
	/*margin-bottom: 25px;*/
}
.mb_remove{
	margin-bottom: 0;
}
/*blog end*/
/*contact us start*/
.newsletter{
	padding: 50px 0;
	background-color: #f0f0f0;
}
.container4{
	width: 60%;
	margin: 0 auto;
}
.signup{
	text-align: center;
}
.signup h1{
	font-size: 30px;
	color: #333333;
	margin-bottom: 100px;
}
.for_form{
	width: 350px;
	margin: 0 auto;
	left: 0;
	right: 0;
	position: relative;
}
.for_form input{
	border: none;
	background: transparent;
	/*border-bottom: 1px solid black;*/
	width: 280px;
	font-size: 18px;
	padding: 10px 50px 10px 10px;
}
.for_form button{
	border: none;
	background: transparent;
	top: 11px;
	right: 0;
	position: absolute;
}
/*contact us end*/
.load{
padding: 100px 0;
text-align: center;
}
.load button{
width: 165px;
height: 70px;
background-color: white;
border: 1px solid #626262;
font-family: 'Playfair Display', serif;
font-size: 20px;
color: #626262;
cursor: pointer;
}
.load button:hover {
	background-color: #626262;
	color: white;
	transition: .3s;
}
/*footer*/
.fotter{
	background: #f0f0f0;
	padding:40px 0;
	/*border:1px solid red;*/
	overflow: hidden;
}

.terms{
	float: left;
	width: 30%;
}
.terms ul{
	margin: 0;
	padding: 0;
}
.terms ul li{
	display: inline-block;
	list-style: none;
	margin: 17px;
}
.terms ul li a{
	font-family: 'Playfair Display', serif;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    display: block;
}
.follow{
	float: right;
    width: 50%;
}
.follow ul{
	margin: 0;
    padding: 0;
    text-align: right;
}
.follow ul li{
	list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}
.follow ul li a{
	font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #000;
    display: inline-block;
}
